# Node
node_modules/
frontend/node_modules/

# Next.js
.next/

# Python
venv/
__pycache__/
*.pyc

# Environment
.env
.env.local
backend/.env
backend/storage/
*.db
powershell.cmd
*/powershell.cmd

# VS Code
.vscode/